config_local.php
*.zip
需要更新：增加每次自动给我自己发邮件的功能，以备份服务器，这个办法有三四种，但成本最低的是我自己访问。如果我都不访问，那么直接恢复应该问题不大，记录个备份时间就好。
需要更新：增加配置服务器的功能，但单文件版可能无法储存账号密码。我不想在开发的时候把账号密码泄露，只好软编码，虽然这个项目除了我也没有人使用吧。开发软件确实是费力不讨好，而且还容易被人捡走劳动成果的事情。
需要更新：可配置的密码模式，做成忘记密码直接删除文件就行。或者后台自己修改。这些需求不知道是不是真的需求，都是些安全焦虑而已，除了数据安全，其它的应该都不重要。
